<div class="boss-wrapper">
  <div class="boss">
    <div class="boss-avatar" style="background-image: url('<%= boss_image(bot.boss) %>');"></div>
    <div class="boss-life-logo " style="background-image: url('<%= image_url 'heart.svg' %>');"><span id="boss-life-percent"></span>%</div>
    <div class="boss-life-outter-border "></div>
    <div class="boss-life-inner-border "></div>
    <div class="boss-life-fill " id="life-circle"></div>
    <div class="boss-shield-logo hidden" style="background-image: url('<%= image_url 'shield.svg' %>')"><span id="boss-shield-percent"></span>%</div>
    <div class="boss-shield-outter-border hidden"></div>
    <div class="boss-shield-inner-border hidden"></div>
    <div class="boss-shield-fill hidden" id="shield-circle"></div>
  </div>
  <div class="boss-name-container">
    <div class="boss-name"><%= bot.boss.name %></div>
  </div>
  <div class="boss-life-text "><span id="boss-current-hp"><%= bot.boss.current_hp < 0 ? '0' : bot.boss.current_hp %></span>/<span id="boss-max-hp"><%= bot.boss.max_hp %></span></div>
  <div class="boss-shield-text hidden"><span id="boss-current-shield"><%= bot.boss.shield %></span>/<span id="boss-max-shield"><%= bot.boss.max_hp %></span></div>
</div>
