<div class="site">
  <div class="container">
    <div class="row">
      <% @bots.each do |bot| %>
        <div class="col-sm-6 col-lg-4">
          <div class="bot-card text-center">
            <div class="bot-card-channel">
              <%= bot.channel %>
            </div>
            <% if bot.boss %>
              <div class="bot-card-avatar">
                <img src="<%= boss_image(bot.boss) %>" id="bot-card-boss-avatar" alt="boss avatar">
              </div>
              <div class="bot-card-infos">
                <p>boss name: <%= bot.boss.name %></p>
                <p>boss hp: <%= "#{bot.boss.current_hp}/#{bot.boss.max_hp}" %></p>
                <p>boss shield: <%= "#{bot.boss.current_shield}/#{bot.boss.max_shield}" %></p>
                <p>updated at: <%= bot.boss.updated_at.in_time_zone(current_user.time_zone) %></p>
              </div>
            <% else %>
              <div class="bot-card-avatar"></div>
              <div class="bot-card-infos"></div>
            <% end %>
            <%= link_to "", bot_path(bot, token: bot.token), class: 'bot-card-link' %>
            <%= link_to bot_path(bot), class: 'bot-card-delete', method: :delete do %>
              <i class="fa fa-remove"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
