<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="boss-card">
        <div class="boss-card-img" style="<%= boss_image(@bot.boss_game) %>">
        </div>
        <div class="boss-card-content">
          <div class="boss-card-content-top">
            <div class="boss-card-content-top-name">
              <p><%= @bot.boss_game.name %></p>
            </div>
          </div>
          <div class="boss-card-content-bottom">
            <div class="boss-card-content-bottom-top">
              <div class="boss-card-content-bottom-top-life">
                <p><%= @bot.boss_game.current_hp %> / <%= @bot.boss_game.max_hp %></p>
                <div class="boss-card-content-bottom-top-life-current"></div>
              </div>
            </div>
            <div class="boss-card-content-bottom-bottom">
              <div class="boss-card-content-bottom-bottom-shield">
                <p><%= @bot.boss_game.shield %></p>
                <div class="boss-card-content-bottom-bottom-shield-current"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script type="text/javascript">
    App.cable.subscriptions.create(
      {
        channel: 'BossGameChannel',
        bot_id: <%= @bot.id %>
      },
      {
        connected: function(data) {
          console.log("<%= "[connected #{@bot.id}]" %>");
        },
        received: function(data) {
          console.log(data);
        }
      }
    );
  </script>
<% end %>
