<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">
      <h3><%= @bot.boss_game.name %></h3>
      <p><%= @bot.boss_game.current_hp %> / <%= @bot.boss_game.max_hp %></p>
      <p><%= @bot.boss_game.shield %></p>
      <%= link_to 'Delete Bot', @bot, class: 'btn btn-danger', method: :delete %>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script type="text/javascript">
    App.cable.subscriptions.create(
      {
        channel: 'BossGameChannel',
        bot_id: <%= @bot.id %>
      },
      {
        connected: function(data) {
          console.log("<%= "[connected #{@bot.id}]" %>");
        },
        recieved: function(data) {
          console.log(data);
        }
      }
    );
  </script>
<% end %>
