.row
  .col
    = simple_form_for [:dashboard, boss], remote: true do |f|
      .row
        .col
          = f.input :name, input_html: { class: 'form-control-sm' }
      .row
        .col
          = f.input :current_hp, input_html: { class: 'form-control-sm' }
        .col
          = f.input :max_hp, input_html: { class: 'form-control-sm' }
      .row
        .col
          = f.input :current_shield, input_html: { class: 'form-control-sm' }
        .col
          = f.input :max_shield, input_html: { class: 'form-control-sm' }
      .row
        .col
          = f.submit class: 'btn btn-primary'
