<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="dashbord-navbar">
        <div class="tab-link active" data-tab="logs">
          <i aria-hidden="true" class="fa fa-file-text-o"></i>
          Bot logs
        </div>
        <div class="tab-link" data-tab="bot">
          <i aria-hidden="true" class="fa fa-cog"></i>
          Bot config
        </div>
        <div class="tab-link" data-tab="boss">
          <i aria-hidden="true" class="fa fa-cog"></i>
          Boss config
        </div>
      </div>
      <div class="dashboard-navbar-status">
        <p>
          connected:
          <span data-channel="<%= current_user.bot.channel %>" id="bot-connected">
            <i class="fa fa-question-circle text-warning" aria-hidden="true"></i>
          </span>
        </p>
        <p>
          moderator:
          <span data-channel="<%= current_user.bot.channel %>" id="bot-moderator">
            <i class="fa fa-question-circle text-warning" aria-hidden="true"></i>
          </span>
        </p>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-7" id="dashboard-content">
          <div class="bot-show-link">
            <div class="row">
              <div class="col">
                <label class="string optional" for="bot_Boss health">OBS / Xsplit link</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <input id="link" type="text" class="form-control form-control-sm" aria-label="obs / xsplit link" value="<%= bot_url(@bot) %>">
                  <span class="input-group-btn">
                    <button class="btn btn-sm btn-primary clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Copied!" type="button">Copy link!</button>
                  </span>
                </div>
                <hr>
              </div>
            </div>
          </div>
          <div class="tab-content active" id="logs">
            <p>Logs are coming soon ;)</p>
          </div>
          <div class="tab-content" id="bot">
            <%= render 'dashboard/bots/bot_form', bot: @bot %>
          </div>
          <div class="tab-content" id="boss">
            <%= render 'dashboard/bosses/boss_form', boss: @bot.boss %>
          </div>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center">
          <%= render 'bots/boss_card', bot: @bot %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for :after_js do %>
  <script type="text/javascript">
    App.cable.subscriptions.create(
      {
        channel: 'DashboardChannel',
        bot_id: <%= @bot.id %>
      },
      {
        connected: function(data) {
          console.log("<%= "[connected dashboard #{@bot.id}]" %>");
          $.get(
            "<%= dashboard_bots_status_index_url %>?bot_id=<%= @bot.id %>",
            null
          )
        },
        received: function(data) {
          if (data['html']) {
            $('#boss').html(data['html']);
          } else if (data['connected'] && data['moderator']) {
            $('#bot-connected').html(data['connected']);
            $('#bot-moderator').html(data['moderator']);
          }
        }
      }
    );
  </script>
  <%= render 'bots/after_js_bot' %>
<% end %>
