= simple_form_for [:dashboard, goal], remote: true do |f|
  .row
    .col
      = f.input :title
  .row
    .col
      = f.input :current
    .col
      = f.input :required
  .row
    .col
      = link_to dashboard_goal_path(goal), method: :delete, data: { disable_with: "Deleting...", confirm: 'Are you sure ?' }, class: "btn btn-danger btn-block", remote: true do
        %i.fa.fa-trash
        = "Delete #{goal.g_type.humanize}"
    .col
      = display_pause_btn(goal)
    .col
      = f.submit "Update #{goal.g_type.humanize}", class: "btn btn-primary btn-block", data: { disable_with: "Updating..." }
