.live-goals
  .row
    .col
      .live-sub-goal
        %p#sub-goal-title= sub_goal ? sub_goal.title : "No Sub goal yet!"
        = render 'goals/sub_card', goal: sub_goal
    .col
      .live-bits-goal
        %p#bits-goal-title= bits_goal ? bits_goal.title : "No Bits goal yet!"
        = render 'goals/bits_card', goal: bits_goal
  %hr
.goals-forms
  .row
    .col
      .sub-goal-form
        = render 'dashboard/goals/sub_goal_form', sub_goal: sub_goal
    .col
      .bits-goal-form
        = render 'dashboard/goals/bits_goal_form', bits_goal: bits_goal
.old-goals
  %hr
  .old-sub-goals
  .old-bits-goals
