.log
  %strong [#{log.created_at.in_time_zone(current_user.time_zone).strftime('%F %H:%M')}]
  .log-add-shield
    %p
      %span= raw inline_svg('shield_full')
      %strong= log.boss_name
      gives himself
      %strong= log.amount
      shield points!
      %strong (#{log.boss_current_shield}/#{log.boss_max_shield})
