.log
  %strong [#{display_log_created_at(log, user)}]
  .log-add-shield
    %p
      %span= raw inline_svg('shield_full')
      %strong= log.boss_name
      gives himself
      %strong= log.amount
      shield points !
      %strong (#{log.boss_current_shield}/#{log.boss_max_shield})
