.log
  %strong [#{display_log_created_at(log, user)}]
  .log-dmg-hp
    %p
      %span= raw inline_svg('sword')
      %strong= log.username
      deals
      %strong= log.amount
      damages to
      %strong= log.boss_name
      !
      %span.log-boss-status (#{log.boss_current_hp}/#{log.boss_max_hp})
