.log-dmg-hp
  %p
    %strong [#{log.created_at.in_time_zone(current_user.time_zone).strftime('%F %H:%M')}]
    %strong
      %i.fa.fa-exclamation
    %strong= log.username
    deals
    %strong= log.amount
    damages to
    %strong= log.boss_name
    %span.log-boss-status (#{log.boss_current_hp}/#{log.boss_max_hp})
