.log
  %strong [#{display_log_created_at(log, user)}]
  .log-dmg-shield
    %p
      %span= raw inline_svg('shield_full')
      %strong= log.username
      deals
      %strong= log.amount
      damages to
      %strong #{log.boss_name}'s
      shield !
      %span.log-boss-status (#{log.boss_current_shield}/#{log.boss_max_shield})
