.log
  %strong [#{log.created_at.in_time_zone(user.time_zone).strftime('%F %H:%M')}]
  .log-heal-hp
      %p
        %span= raw inline_svg('heart')
        %strong= log.boss_name
        heals himself for
        %strong= log.amount
        Hp!
        %strong (#{log.boss_current_hp}/#{log.boss_max_hp})
